@import "tailwindcss";

:root {
    --bg: #080711;
    --bg-gradient: radial-gradient(40.3% 40.53% at 46.77% 37.39%, rgba(101, 255, 81, 0.35) 0%, rgba(188, 242, 183, 0) 100%);
    --text-primary: #ffffff;
    --text-secondary: #bfbfbf;
}

body {
    margin: 0px;
    padding: 0px;
    color: var(--text-primary);
}

.bg-gradient {
    background: var(--bg-gradient);
    position: absolute;
    width: 4096px;
    height: 4096px;
    left: -1215px;
    top: -1624px;
    opacity: 0.25;
    border-radius: 100%;
}


